.user-top-wrapper
  = image_tag @user.image_background.url, class:"user-background-image"
  - #= image_tag('silentsiren.jpg', class: "user-background-image")
  div
    = image_tag @user.image_icon.url, class:"user-icon"
    - #= image_tag('icons/kawauso.png', class:"user-icon")
  .container
    .row
      .col-md-8.col-md-offset-2
        .user-name
          = @user.name
        - if current_user.id == @user.id
          = link_to edit_user_path(current_user) do
            .btn.btn-primary.edit-btn
              | プロフィール編集
          = link_to logout_path, method: :delete do
            .btn.btn-danger.edit-btn
              | ログアウト
        |  　　
        section.stats
          = render 'shared/stats'
        div
          = render 'follow_form' if logged_in?
      .col-xs-6.col-xs-offset-3
        .user-status.text-center
          ul
            li
              .status-label
                | -------身長-------
              .status-value
                = user.height
            li
              .status-label
                | -------体重-------
              .status-value
                = user.weight
            li
              .status-label
                | -----自己紹介-----
              .status-value
                = user.comment
.user-data-wrapper
  .container
    .row
      .col-xs-4.col-xs-offset-1
        .data-sub-title
          | トレーニングメニュー
      .col-xs-4.col-xs-offset-2
        .data-sub-title
          | 体重グラフ
    .row
      .col-xs-4.col-xs-offset-1
        = link_to menus_path(current_user.id) do
          = image_tag 'icons/f_dumbbell.jpg'
      .col-xs-4.col-xs-offset-2
        = link_to weights_path do
          = image_tag 'icons/f_graph.jpg'
.user-index-wrapper
  .container
    - if @user.workouts.any?
      .row
        .col-md-12
          h2
            = @user.name
            | さんの投稿一覧
          p.workout-index

          ol.microposts
            = render "workouts/workout"
