<div class="users-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="user-index-heading">ユーザー一覧</h1>
        <%= paginate @users %>
        <% @users.each do |user| %>
   　      <div class="user-index-single">
            <p class="user-right">
            <%#= link_to user_path(user_id: user.id) do %>
            <%= link_to "#" do %>
              <%= user.name %>
            <% end %>
            </p>
          </div>
        <% end %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>