<!-- フォローしているユーザーとフォロワーの両方を表示 -->
<div class="user-follow-wrapper">
  <div class="container">
    <div class="row">
      <aside class="col-md-8 col-md-offset-2">
        <div class="user-follow-info">
          <h1 class="text-center"><%= @user.name %>さんのフォロー状況</h1>
        </div>
        <section class="stats">
          <!-- フォローしているユーザーの情報を表示 -->
          <%= render 'shared/stats' %>
          <% if @users.any? %>
            <div class="user_avatars">
              <!--フォローしているユーザーのリンク付け-->
              <% @users.each do |user| %>
                <%= link_to user.name , user %>
              <% end %>
            </div>
          <% end %>
        </section>
      </aside>
      
      <div class="col-md-8">
        <h3><%= @title %></h3>
        <% if @users.any? %>
  
        <% end %>
      </div>
    </div>
  </div>
</div>