<h1>Weights#index</h1>
<p>Find me in app/views/weights/index.html.erb</p>

<%= link_to 'データ作成', new_weight_path %>

<!--canvasy要素→ビットマップキャンバスを提供するタグ-->
<canvas id="myChart" width="2" height="1"></canvas>
<script>draw_graph();</script>