h1, h2 {
  font-weight: bold;
}

//テキスト全般
.text-white {
  color: #fff;
  font-size: 30px;
  //font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-shadow {
  color: #fff;
  text-shadow: 2px 2px 1px #000,
    -2px 2px 1px #000,
    2px -2px 1px #000,
    -2px -2px 1px #000;
}

.sub-title {
  font-size: 30px;
}

//ボタン全般
.btn {
  margin:20px 0;
}

.edit-btn {
  margin: 10px 0 30px 0;
}

.btn-yellow {
  color: #000;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(255,0,0,0.3);
  
  &:hover {
    color: #000;
    background-color: rgba(255,0,0,0.6);
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  .input {
      margin-top: 5px;
  }
  
  &:hover {
    color: #000;
    background-color: #fff;
  }
}
//フォロー関連
//フォローの統計情報
.stats {
  font-size: 20px;
  overflow: auto;
  margin: 15 auto;
  padding: 0;
  a {
    // float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: inline-block;
  }
}

//フォロー詳細ページ
.user-follow-wrapper {
  padding-top: 70px;
  background-color: #EEE;
  
  .user-follow-info {
    
  }
}


//アラート表示
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

//ナビゲーションバー
.navbar-transparent {
  font-size: 25px;
  margin-bottom: 0px;
  background-color: #444;
  a {
    color: #fff !important;
    padding:0px;
  }
  
  .navbar-logo {
    padding: 0px;
    //margin-top: 10px;
  }
  
  img {
    height: 40px;
  }
}

.navbar-left li {
  
}

.navbar-right li {
  font-size:18px;
  }


//トップページのCSS
.top-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('training.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646
}

.top-container {
  padding-top: 130px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.service-introduction {
  background-color: #DDD;
  .service-title {
    .title {
      margin: 0;
      padding: 30px 0;
    }
  }
  .service-all-item {
    display: flex;
    .item {
      width:33%;
      text-align: center;
      i {
        font-size: 80px;
      }
      .explanation {
        font-size:18px;
        padding: 20px 0;
        margin:0 5px;
      }
    
      img {
        width: 80%;
        margin:10px;
      }
    } 
  }
}

.form-control {
  height: 45px;
}

//新規投稿ページのCSS
.workout-new-wrapper {
  padding-top: 70px;
  background-color: #DDD;
  height: 90vh;
}

//投稿一覧ページトップ
.workout-index-wrapper {
  padding-top: 70px;
  background-color: #EEE;
  //投稿一覧
  .workout-index {
    background-color: white;
    padding-top: 20px 0;
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 3px;
    //投稿したユーザー名
    .workout-author {
      padding: 0 20px;
    }
     //投稿したテキスト内容
    .workout-text {
      font-size: 20px;
      padding: 10px 20px;
    }
    //画像
    img {
      margin-top: 10px 0 20px 0;
      width: 100%;
    }
    //いいねとコメントアイコン
    .workout-index-icon i { 
      font-size: 20px;
      width: 35px;
      height: 30px;
      padding-left: 20px;
    }
    .comment {
      font-size: 20px;
      padding: 0 0 10px 20px;
    }
  }
}
//ユーザー関連

//ユーザー新規登録ページ
.users-new-wrapper {
  width: 100vw;
  height: 125vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
//ユーザー詳細ページ
.user-top-wrapper { 
  background-color: #DDD;
  text-align: center;
  
  .user-background-image {
    position: relative; /* 子要素の起点を指定 */
    width: 100%;
    height: 240px;
  }
  
  .user-icon {
    position: absolute;
    top: 0; /* 上からの位置指定 */
    bottom: 0; /* 下からの位置指定 */
    left: 0; /* 左からの位置指定 */
    right: 0; /* 右からの位置指定 */
    margin: 200px auto 0 auto; /* 位置調整と組み合わせて上下中央に */
    border: 2px #000 solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
  
  .user-name {
    font-size: 45px;
    font-weight: 500;
    margin: 80px 0 0 0;
  }
  
  .user-status {
    .status-label {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #f7f7f7;
      border-left: solid 6px #ff7c5c;/*左線*/
      color: #ff7c5c;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      margin: 0.5em 0 0;
    }
    
    .status-value {
      font-size: 17px;
      // font-weight: bold;
    }
    
    ul {
      padding: 0;
      list-style: none;
    }
  }
}

.user-edit-wrapper {
  background-color: #DDD;
  height: 90vh;
}


//ユーザーのトレーニングデータ
.user-data-wrapper { 
  background-color: #DDD;
  img {
    padding-top: 10px;
    width: 300px;
    height: 300px;

  }

  .data-sub-title {
    width: 100%;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    border-top: solid 4px #000;
    border-bottom: solid 4px #000;
    background: #fff;
  }
}
//ユーザーの投稿
.user-index-wrapper {
  background-color: #DDD;
  
  h2 {
    text-align: center;
  }
}

//ユーザー一覧ページ

.users-index-wrapper {
  padding-top: 70px;
  background-color: #EEE;
}

//いいね一覧ページのCSS
.likes-index-wrapper {
  padding-top: 70px;
  background-color: #EEE;
  // .likes-heading {
  // text-align: center;
    .like_workouts-index {
      background-color: white; //
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
      border: 1px solid #000;
      border-radius: 3px;
      //投稿したユーザー名
      .workout-author {
        padding-right: 20px;
        padding-left: 20px;
      }
       //投稿したテキスト内容
      .workout-text {
        padding-right: 20px;
        padding-left: 20px;
      }
  
      img {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
      }
      //いいねとコメントアイコン
      .workout-index-icon { 
        width: 35px;
        height: 30px;
        margin-left: 20px;
      }
    }
  // }
}

//ページネーションのデザイン
.pagination li a {
  border: none;   //枠線をなくす
  color: #696969; //文字の色を帰る
}

//表示しているページ番号のデザイン
.pagination active a {
  background: #93c9ff; //背景の色
  border-radius: 15px; //角を丸くする
}

//ホバー時のデザイン
.pagination li a:hover {
  border-radius: 15px; //角を丸くする
}

.footer {
  background-color: #222;
  color: white;   
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 0;
    }
  }
}