<footer class="footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-white">
          <ul>
            <li>
              <span><i class="fab fa-gripfire">MuscleStone</i></span>
            </li>
            <li>あいうえお</li>
            <li><%= link_to 'MuscleStone', root_path %></li>
            <li><%= link_to '©2019 Toshi.M All rights reserve︎️d', root_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>