footer.footer
  .footer-wrapper
    .container
      .row
        .col-md-3.text-white
          ul
            li
              span
                i.fab.fa-gripfire
                  | MuscleStone
            li
              | あいうえお
            li
              = link_to 'MuscleStone', root_path
            li
              = link_to '©2019 Toshi.M All rights reserve︎️d', root_path
